.main-page {
    min-width: 320px;
    padding: 0 15px;
    background-image: url(/img/320_main-page_bg.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 480px;
    .container {
        width: 290px;
        height: 100%;
    }
    .main-header {
        padding-top: 14px;
        display: flex;
        flex-direction: row;
        width: 100%;
        &__logo {
                display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            text-decoration: none;
            margin-bottom: 6px;
            .logo__title {
                    color: #fefefe;
                    font-family: "SFUI Text";
                    font-size: 7px;
                    font-weight: 300;
                    line-height: 12px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
            }
        }
        .main-nav {
            width: 17px;
            margin-left: auto;
            &__items {
                display: none;
                visibility: hidden;
            }
            .hamburger {
                position: relative;
                display: flex;
                width: 17px;
                height: 12px;
                border: none;
                padding: 0;
                margin: 0;
                margin-left: auto;
                margin-top: 9px;
                z-index: 2;
                background-color: transparent;
                &__line {
                    position: absolute;
                    background-color: #fff;
                    width: 17px;
                    height: 2px;
                    left: 0;
                    &--top {
                        top: 0;
                        width: 11px;
                    }
                    &--middle {
                        bottom: 5px;
                    }
                    &--bottom {
                        bottom: 0;
                    }
                }
            }
        }
        &__phone {
            display: none;
        }
    }

    &__desc {
        margin-top: 82px;
        .desc__title {
            color: #ffffff;
            font-family: "Roboto";
            font-size: 30px;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 2px;
            line-height: 37px;
        }
        .desc__content {
            display: none;
        }
        .desc__btn {
            margin-left: 2px;
            margin-top: 1px;
        }
    }
    .paginations {
        display: none;
    }
}



@media screen and (min-width: 764px) {
    .main-page {
        padding: 0 62px;
        background-image: url(/img/764_main-page_bg.jpg);
        background-position: -122px -7px;
        height: 679px;
        .container {
            width: 100%;
            margin: 0 auto;
        }
        .main-header {
            padding-top: 23px;
            &__phone {
                display: flex;
                text-decoration: none;
                opacity: 0.87;
                color: #000000;
                font-family: "SFUI Text";
                font-size: 15px;
                font-weight: 700;
                line-height: 18px;
                letter-spacing: 1.2px;
                margin-top: 8px;
                text-transform: uppercase;
                margin-left: auto;
            }
            .main-nav {
                width: 23px;
                margin-left: auto;
                .hamburger {
                    width: 23px;
                    height: 16px;
                    padding: 0;
                    margin: 0;
                    margin-left: 38px;
                    margin-top: 9px;
                    z-index: 2;
                    background-color: transparent;
                    &__line {
                        position: absolute;
                        background-color: #fff;
                        width: 23px;
                        height: 2px;
                        left: 0;
                        &--top {
                            top: 0;
                            width: 14px;
                        }
                        &--middle {
                            bottom: 7px;
                        }
                        &--bottom {
                            bottom: 0;
                        }
                    }
                }
                
            }
            .logo__title {
                color: #fefefe;
                font-family: "SFUI Text";
                font-size: 10px;
                font-weight: 300;
                line-height: 17.8px;
                text-transform: uppercase;
                letter-spacing: 0.7px;
            }
            &__logo > svg {
                width: 50px;
                height: 28px;
            }
        }
        &__desc {
            margin-top: 108px;
            .desc__title {
                font-size: 48px;
                line-height: 58px;
                letter-spacing: 2.8px;
                margin-bottom: 40px;
            }
            .desc__content {
                display: block;
                color: #ffffff;
                font-family: "SFUI Text";
                font-size: 18px;
                font-weight: 300;
                line-height: 30.68px;
                margin: 0;
                letter-spacing: 1.3px;
                margin-bottom: 44px;
            }
            .desc__btn {
                margin: 0;
            }
        }
    }

}